{{!-- Template for Map --}}
<div class="container">
    <div class="legend">
        <div class="description">
        <img class="sponsor-icon" src="assets/img/vistry-sponsor-icon.png"> Sponsored by
        </div>
        <img class="sponsor-logo" src="assets/img/vistry-sponsor-no-bg.png" alt="Sponsored by Vistry Partnership">

    </div>
    <nav class="links">
        <img id="linksTrigger" src="assets/img/pollenizeLogoFull.png" alt="Pollenize Logo">
        <ul>
            <li>
                <img id="seedShopsLayerControl" class="layerControl w-100" src="assets/img/pollenizeSeedShopsIcon.png"
                    alt="Pollenize Seed Shop Icon">
            </li>
            <li>
                <img id="hivesLayerControl" class=" layerControl w-100" src="assets/img/pollenizeHivesIcon.png"
                    alt="Pollenize Hive Icon">
            </li>
            <li>
                <img id="rewildingLayerControl" class="layerControl w-100"
                    src="assets/img/pollenizeRewildingSeedsLocationIcon.png" alt="Pollenize Rewilding Seeds">
            </li>
        </ul>

    </nav>
    <div id="mapid"></div>
</div>

<!-- Weclome modal START -->
<div id="welcomeModal" class="modal">
    <div class="modal-content">
        <img src="assets/img/pollenizeLogoFull.png" alt="Pollenize Logo">
        <div class="welcomeModalText">
            <h2>Welcome to The Pollenize Rewilding Map</h2>

            <p>Sow your 1m2 seed packet, which contains 70 different varieties of native wildflower.</p>
            <p>Click on the map to log your sowing co-ordinates!</p>

            <p>You can also use the menu in the bottom right corner to find locations of Pollenize Hives and Seed
                Shops!
            </p>

            <p><strong>For Seed packs to collect and sow!</strong></p>
        </div>
    </div>
</div>
<!-- Welcome modal END -->

<!-- Add seed modal START -->
<div id="addSeedModal" class="modal">
    <div class="modal-content">
        <h1>Add your 'Rewilding-Seeds' Location</h1>
        <form id="addSeedsForm" action="/api/addMarker" method="POST">
            <div class="form-group">
                <label for="longitude">Longitude</label>
                <input name="longitude" id="lngField" type="text">
            </div>
            <div class="form-group">
                <label for="latitude">Latitude</label>
                <input name="latitude" id="latField" type="text">
            </div>
            <div class="form-group">
                <label for="whatThreeWords">What 3 Words</label>
                <input name="whatThreeWords" id="w3wField" type="text">
            </div>
          {{!--   <div class="form-group">
                <label for="seedPacketColor">Seed Packet Color</label>

                <select name="seedPacketColor" id="seedPacketColor">
                    <option value="seedPacket1">Green</option>
                    <option value="seedPacket2">Red</option>
                    <option value="seedPacket3">Purple</option>
                    <option value="seedPacket4">Blue</option>
                </select> 
</div>--}}
                <input type="hidden" name="seedPacketColor" id="seedPacketColor" value="seedPacket1"/>

            
            <div class="form-group">
                <label for="seedPacketNumber">Seed Packet Number</label>
                <input name="seedPacketNumber" id="seedPacketField" type="text">
            </div>
            <button class="submitBTN" type="submit">Submit</button>
        </form>
    </div>
</div>
<!-- Add seed modal END -->