/* Global Style Sheet */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
}

.w-100{
    width: 100%;
}

.hideLayer{
    display: none !important;
}

.container{
    position: relative;
    height: 100%;
    width: 100%;
}

.links{
    position: absolute;
    z-index: 100;
    width: 80px;
    height: 80px;
    bottom: 30px;
    right: 10px;
    border-radius: 50px;
    background-color: black;
    padding: 10px;
    overflow: hidden;
    transition: height 0.4s ease-out;
}

.links.open{
    height: 300px;
}

.links > img{
    width: 100%;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.4s ease-out;
    margin-top: -3px;
    position: relative;
    bottom: 0;
}

.links > img.active{
    transform: rotate(180deg);
}

.layerControl{
 opacity: 1;
 cursor: pointer;
 transition: opacity 0.1s ease;
}

.layerHidden{
    opacity: 0.5;
}

#mapid { 
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 50;
}

#addSeedsForm, #sigInForm{
    display: flex;
    flex-direction: column;
}

#addSeedsForm .form-group, 
#sigInForm .form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: rgb(252, 252, 240);
    padding: 10px;
    border-radius: 10px;;
    color: #333;
}

#addSeedsForm input,
#signInForm input{
    padding: 5px;
    margin: 5px 0px;
    font-size: 16px;
    border: transparent;
    border-bottom: 1px solid #222 ;
    background-color: transparent;
}

#seedPacketColor{
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    font-size: 16px;
}

.submitBTN{
    background-color: #fabd31;
    border: 2px solid #fabd31;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.submitBTN:hover{
    text-decoration: underline;
    border-color: rgba(0,0,0,0.4);
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 10px;
    width: 40%; /* Could be more or less, depending on screen size */
  }

  #welcomeModal > .modal-content{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }

  #welcomeModal > .modal-content > div {
      padding: 20px;
  }

  .welcomeModalText > *{
      padding: 20px;
  }

.admin{
    background-image: url('../assets/img/pollenizeLogoTransparent.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-size: 400px;
    backface-visibility: 0.1;
    display: flex;
    justify-content: center;
}

.admin form{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

.adminHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}